* {
	box-sizing: border-box;
	overflow: hidden;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	background: #222;
	color: #ddd;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	max-width: 100%;
	max-height: 100%;
}

main {
	flex: 1 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

aside {
	padding: 0 1ch;
	flex: 0 0 23ch;
	display: flex;
	flex-flow: column wrap;
}

.viewer {
	flex: 1 1;
	display: block;
}

.cursor {
	flex: 0 0 5em;
	padding: 1em;
	line-height: 1em;
	font-family: monospace;
	white-space: pre;
	display: flex;
	flex-flow: row nowrap;
}

.control {
	display: flex;
	flex-flow: row nowrap;
	margin: 4px;
	justify-content: flex-end;
}

.control .control-name {
	width: 5ch;
	text-align: right;
	font-family: monospace;
	font-weight: 400;
	white-space: nowrap;
}

.control .slider {
	accent-color: #0075fe;
	width: 9ch;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.control .control-value {
	width: 5ch;
	text-align: right;
	font-family: monospace;
	font-weight: 200;
	white-space: nowrap;
}

.control.q {
	margin-bottom: calc(1em + 2 * 4px + 4px);
}

.control.q .slider {
	accent-color: #00de55;
}

.cursor-x,
.cursor-y,
.cursor-v {
	padding-right: 2ch;
}

.cursor-x {
	width: 15ch;
}

.cursor-y,
.cursor-v {
	width: 19ch;
}

@media (orientation: portrait) {
	body {
		flex-direction: column;
	}
	main {
		flex: 0 0 40vh;
	}
	aside {
		flex: 0 0 60vh;
	}
}

