* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	background: #222;
	color: #ddd;
	display: flex;
	flex-flow: row nowrap;
}

main {
	flex: 1 1;
	display: flex;
	flex-flow: column nowrap;
}

aside {
	flex: 0 0;
	display: flex;
	flex-flow: column wrap;
}

.control {
	display: flex;
	flex-flow: row nowrap;
	margin: 4px;
	justify-content: flex-end;
}

.control .control-name {
	width: 5ch;
	text-align: right;
	font-family: monospace;
	font-weight: 400;
	white-space: nowrap;
}

.control .slider {
	width: 9ch;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.control .control-value {
	width: 5ch;
	text-align: right;
	font-family: monospace;
	font-weight: 200;
	white-space: nowrap;
}

.viewer {
	flex: 1 1;
	display: block;
}

.cursor {
	flex: 0 0 3em;
	font-family: monospace;
	padding: 1em;
	white-space: pre;
}

@media (orientation: portrait) {
	body {
		flex-direction: column;
	}
	aside {
		height: 50vh;
	}
}

